 *  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    background-color: #E8E8E8;
}
 
 #container {
     max-width: 1000px;
     margin: 0 auto;

 }

#header--img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

nav {
    width: 25%;
    float: left;
    


    }

nav li {
   display: block;
   text-align: center;
   padding: 2px;
   background-color: #52658f;
   color: #F7F5E6;
    
 }
nav li:hover {
    background-color: #333a56;
    cursor: pointer;
}

 section {
     padding: 0 0 0 26%;
 }

 #baseCurrency{
     height:2em;
    line-height:2.2em;
    float: left;
    width: 8%;
    background-color: #52658f;
    color: #F7F5E6;
    padding-left: 1%;
 }

#animationText{
    height:2em;
    line-height:2.2em;
    position:relative;
    overflow:hidden;
    width: 92%;
    border: 1px solid #52658f ;

 }
#animationText > p {
    position: absolute;
    margin:0;
    white-space:nowrap;
    animation:przesun 30s linear infinite;
}

 footer {
    text-align: center;
    clear: left;
    
 }
@keyframes przesun
{
    0% { transform:translateX(0); padding-left:110%; }
    100% { transform:translateX(-100%); padding-left:110%;}

}